@import "~mdb-ui-kit/css/mdb.min.css";
body {
  font-family: "Gloock", serif;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
}
.nav1__left__img1{
  margin-left: 2px;
}
.ffff{
  color: rgb(53, 53, 53);
  font-weight: 800;
  font-size: 26px;
  gap: 10px;
}
.vvv {
  margin: 0 auto;
}
.inp {
  width: 150px;
  border: 2px solid rgb(196, 17, 17);
  color: red;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: 700;
  padding-left: 10px;
}
.navbar {
  background-color: #fff;
  width: 100%;
}
.navbar a {
  color: black;
}
.navbar .activeLink {
  color: rgb(196, 17, 17);
}
.dropbtn2 {
  color: rgb(5, 5, 5);
  padding: 8px;
  font-size: 16px;
  border: none;
  font-family: Metropolis;
}
.li__a {
  font-family: "Gloock", serif;
  font-family: "Play", sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.dropbtn {
  font-family: "Gloock", serif;
  font-family: "Play", sans-serif;
  font-weight: 700;
}
.asdf {
  background-color: #fff;
}
.dropbtn {
  background-color: #f7fdfb;
  color: rgb(5, 5, 5);
  padding: 8px;
  font-size: 16px;
  border: none;
  font-family: Metropolis;
}
.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f0f0;
  min-width: 180px;
  box-shadow: 0px 8px 16px 1 px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Metropolis;
  border-radius: 20px;
  transition: 3s;
}
.category_a {
  gap: 10px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  transition: 0.7s;
  opacity: 5;
  padding: 8px;
}
.category_a:hover {
  opacity: 0.9;
  transition: 0.5s;
  color: black;
}
.category_a h6 {
  padding-top: 8px;
  font-size: 17px;
}
.dropbtn {
  color: black;
}
.s {
}
.ff1 {
  background-color: #fff;
  margin-left: 17px;
  text-align: center;
  font-size: 13px;
  padding-bottom: 20px;
  border-radius: 50%;
  position: absolute;
  width: 17px;
  color: #f6f0f0;
  height: 10px;
  background-color: rgb(196, 17, 17);
}

.navbar-options-mobile {
  @media (max-width: 991px) {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #fff;
    
  }
}
.imgs{
  margin-top: 30px;
  width: 100%;
  height: 600px;
}
.section{
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
}
.right img{
  width: 400px;
  border: 5px solid rgb(211, 189, 24) ;
}
.p{
  color: rgb(43, 43, 43);
  font-weight: 600;
}
.ddd{
  color: rgb(211, 189, 24);
  margin-top: 90px;
  font-weight: 800;
}
.section1{
  display: flex;
  justify-content: space-around;
}
.pp{
  margin-top: 80px;
  font-weight: 600;
}
.h111{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-weight: 800;
  color: rgb(211, 189, 24);
}
.img{
  border: 5px solid rgb(211, 189, 24) ;
}
.imges{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.ims{
  width: 400px;
}
.p3{
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  color: red;
}
.imagess{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
.ims1{
  margin-top: 20px;
  width: 400px;
}
.audio{
  justify-content: center;
  display: flex;
  width: 100%;
  color: red;
}